<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7lFvwfml58pw_g4Y9A1DNMdYPhFfuTRg</string>
	<key>GCM_SENDER_ID</key>
	<string>831970164486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.blackcats.flutter.dev</string>
	<key>PROJECT_ID</key>
	<string>blackcats-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcats-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831970164486:ios:d6f5c971a8f6ddb9a1e887</string>
</dict>
</plist>